tfe_vars = {
    key1 = "value1"
    key2 = "value2"
    key3 = "value3"
    key4 = "value4"
}

tfe_vars_sensitive = {
  test_sensitive = "test_value"
}

env_vars_sensitive = {
  AWS_ACCESS_KEY_ID = "XXXXXXXXXX"
  AWS_SECRET_ACCESS_KEY = "YYYYYYYYYYYYYYYYYY"
}

setup_vars = {
  oauth_token_id = "ot-MyTokenID"
  token = "XXXXXXXXX.atlasv1.YYYYYYYYYYYY"
  identifier = "organization/repository"
  name = "my-new-workspace-name"
  organization = "my-organization"
  working_directory = "my-working-directory"
}
